.container {
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
    grid-template-columns: 100%;
    width: 100vw;
}

.header {
    background-color: darkgray;
    color: white;
    text-align: center;
}

.game {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

.gameZone {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 50% 50%;
}

.results {
    grid-column: span 2;
    text-align: center;
    font-size: x-large;
}

#playerChoice, #computerChoice {
    font-size: 6rem;
    padding: 2rem;
}

#playerScore, #computerScore {
    font-size: x-large;
    text-align: center;
}

.playerChoices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button {
    font-size: 6rem;
    padding: 2rem;
    
}